*.iml
.gradle
.kotlin
/local.properties
.idea/
.DS_Store
build/
target/
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
*.jks
*.keystore
*.log
scratch/

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.widget_preview/

# Android & Keystores
**/android/local.properties
**/android/key.properties
**/android/.gradle/
